<section id="about" class="welcome">
  <div class="container">
    <div class="texter">
      <h1>Welcome!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, quod! Deserunt ad consectetur assumenda quia debitis, a eveniet dicta laborum!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, cum aliquam voluptatum, rem est a deleniti earum vel blanditiis, omnis cumque dolorum incidunt ipsam veritatis? Est esse, magnam amet dignissimos!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, cum aliquam voluptatum, rem est a deleniti earum vel blanditiis, omnis cumque dolorum incidunt ipsam veritatis? Est esse, magnam amet dignissimos!</p>
      <a href="#" class="btn-blue-bg">Read More</a>
    </div>
    <div class="img-g">
      <img src="../assets/images/kids.png" alt="kid">
    </div>
  </div>
</section>