<section id="gallary" class="gallary">
  <div class="container">
    <div class="box">
      <h2>Our Center</h2>
      <img src="../assets/images/pooo.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam laudantium blanditiis odio, eos asperiores. Fugiat eius, temporibus commodi modi illo reiciendis soluta error non similique amet cupiditate fugit. Odit, architecto.</p>
      <a href="#" class="btn-blue-bg">Read More</a>
    </div>
    <div class="box">
      <h2>Activities</h2>
      <img src="../assets/images/po.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam laudantium blanditiis odio, eos asperiores. Fugiat eius, temporibus commodi modi illo reiciendis soluta error non similique amet cupiditate fugit. Odit, architecto.</p>
      <a href="#" class="btn-blue-bg">Read More</a>
    </div>
    <div class="box">
      <h2>Our Event</h2>
      <img src="../assets/images/poo.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam laudantium blanditiis odio, eos asperiores. Fugiat eius, temporibus commodi modi illo reiciendis soluta error non similique amet cupiditate fugit. Odit, architecto.</p>
      <a href="#" class="btn-blue-bg">Read More</a>
    </div>
  </div>
</section>