<header id="home">
  <div class="container">
    <div class="logo">
      <h2>Kinder</h2>
      <p>Children Nursery School Daycenter</p>
    </div>
    <div class="navigation">
      <ul class="nav">
        <li class="active"><a href="#Home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#gallary">Gallery</a></li>
        <li><a href="#features">Feature</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>