<section id="team" class="team">
  <div id="FAQs" class="container">
    <h1>Teaching Team</h1>
    <div class="boxes">
      <div class="boxs">
        <img src="../assets/images/img-0f.jpg" alt="">
        <h2>Cheif guest.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facere natus quia aliquid cumque perferendis.</p>
      </div>
      <div class="boxs">
        <img src="../assets/images/img-00c.jpg" alt="">
        <h2>Chairman guest.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facere natus quia aliquid cumque perferendis.</p>
      </div>
      <div class="boxs">
        <img src="../assets/images/img-0b.jpg" alt="">
        <h2>Vice principal.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facere natus quia aliquid cumque perferendis.</p>
      </div>
      <div class="boxs">
        <img src="../assets/images/img-0g.jpg" alt="">
        <h2>Honabal guest.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facere natus quia aliquid cumque perferendis.</p>
      </div>
    </div>
  </div>
</section>